.scroll-class{

}

.scroll-class::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  .scroll-class::-webkit-scrollbar-track {
    background:transparent;
    border-radius: 10px;
  }
  
  /* Handle */
  .scroll-class::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .scroll-class::-webkit-scrollbar-thumb:hover {
    background: #555;
  }