.user-list::-webkit-scrollbar {
    width: 4px;
    
  }
  
  /* Track */
  .user-list::-webkit-scrollbar-track {
    /* background:white; */
    background:transparent;
    border-radius: 10px;
  }
  
  /* Handle */
  .user-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .user-list::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



  @media screen and (max-width:480px){

    .selectedUser-header{
      justify-content: flex-start;
      padding-left: 10px;
      gap:10px;
      font-size: 12px;
    }
    .selectedUser-header img{
      height: 50px;
      width: 50px;
    }
    .authUser-body-img{
      height: 50px;
      width: 50px;
    }

  }
  
  .chat-list{
  overflow-x:hidden;
  }

  .chat-list::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  .chat-list::-webkit-scrollbar-track {
    background:white;
    border-radius: 10px;
  }
  
  /* Handle */
 .chat-list::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 10px;
  }
  
  /* Handle on hover */
   .chat-list::-webkit-scrollbar-thumb:hover {
    background: #555;
  }